@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: Montserrat, sans-serif;
}

body {
  margin: 32px 0;
}

main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1236px;
  margin: 0 auto;
}