@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 32px 0;
  font-family: Montserrat, sans-serif;
}

.container{
  width: 1236px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 600;
}
