@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 32px 0;
  font-family: Montserrat, sans-serif;
}

strong {
  font-weight: 600;
}

.container {
  width: 1236px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  display: flex;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
}
